<% let pageId='about' ; %>
<% let path=jsonData.pages[pageId].path %>
<% let cording=jsonData.container.cording; %>
<% let info=jsonData.info.works01; %>

<!DOCTYPE html>
<html lang="ja">
<%- include('../common/_head', {pageId:pageId }) %>
  <body class="home" id="body">
    <%- include('../common/_header', {pageId:pageId }) %>
      <!-- main -->
      <main data-barba="wrapper">
        <div class="l-main container" data-barba="container" data-barba-namespace="works">
          <!-- 画面遷移 -->
          <div class="mask" id="mask"></div>
          <!-- 画面遷移 -->
          <article>
            <div class="l-info">
              <div class="c-title">
                <h2>
                  <div class="c-title__heading">ABOUT</div>
                </h2>
                <div class="c-title__desc-wrapper">
                  <p class="c-title__desc">髙橋孝幸</p>
                  <p class="c-title__desc">神奈川県平塚市在住</p>
                  <p class="c-title__desc">1986年生まれ</p>
                  <p class="c-title__desc">早稲田大学政治経済学部経済学科卒業</p>
                </div>
                <div class="c-title__desc-wrapper">
                  <p class="c-title__desc">大学卒業後20代は飲食店開業を目指していた</p>
                  <p class="c-title__desc">30代になり倉庫事務職に就職</p>
                  <p class="c-title__desc">業務でVBAに触れ独学で習得</p>
                  <p class="c-title__desc">母の大病をきっかけに人生を見つめ直し転職を決意</p>
                  <p class="c-title__desc">バックエンドエンジニアに転職したが不眠症に陥る</p>
                  <p class="c-title__desc">療養を経て現在はWeb制作の道を目指している</p>
                </div>
              </div>
              <figure class="l-info__image">
                <picture>
                  <source srcset="<%= path %>assets/images/about/author0228.webp" type="image/webp" />
                  <img srcset="<%= path %>assets/images/about/author0228.png" alt="作者近影" width="400" height="500" />
                </picture>
              </figure>
            </div>
            <div class="l-main-content">
              <section class="p-about-skills">
                <div class="p-about-skills__title">
                  <h3 class="p-about-skills__heading">技術
                    <span class="p-about-skills__sub-heading">skills</span>
                  </h3>
                </div>
                <div class="p-about-skills__block-wrapper b-bottom">
                  <div class="p-about-skills__block">
                    <div class="c-about-card">
                      <h4 class="c-about-card__title">HTML</h4>
                      <p class="c-about-card__desc">基礎的なレベルでのセマンティックなマークアップが可能です。
                        <br />
                        アクセシビリティについて学習中です。
                      </p>
                      <a href="https://www.front-dispatch.website/blog/a11y_01" target=”_blank”>
                        <p class="c-about-card__link">Webアクセシビリティの基礎的な知識</p>
                      </a>
                    </div>
                    <div class="c-about-card">
                      <h4 class="c-about-card__title">CSS</h4>
                      <p class="c-about-card__desc">FLOCSSを使用し保守性拡張性を担保できます。
                        <br />
                        <a href="https://www.front-dispatch.website/blog/fluid_typography" target=”_blank”>
                          <p class="c-about-card__link">Fluid Typographyの実装方法</p>
                        </a>
                      </p>
                    </div>
                    <div class="c-about-card">
                      <h4 class="c-about-card__title">JavaScript</h4>
                      <p class="c-about-card__desc">
                        gsapやbarba.js等のライブラリを基礎的なレベルで使用することができます
                        <br />
                        JamstackやWebGLの学習を進めています。
                      </p>
                      <a href="https://www.front-dispatch.website/blog/barbajs" target=”_blank”>
                        <p class="c-about-card__link">barba.jsの実装方法</p>
                      </a>
                    </div>
                  </div>
                  <div class="p-about-skills__block">
                    <div class="c-about-card">
                      <h4 class="c-about-card__title">環境構築</h4>
                      <p class="c-about-card__desc">
                        gulp+EJS+webpack、Vite,Astroで環境を構築できます。
                      </p>
                      <a href="https://www.front-dispatch.website/blog/astro" target=”_blank”>
                        <p class="c-about-card__link">Astroでマイクロブログを作成してみた</p>
                      </a>
                    </div>
                    <div class="c-about-card">
                      <h4 class="c-about-card__title">Git</h4>
                      <p class="c-about-card__desc">
                        ブランチを切り、適切な粒度でコミットし、PRを出す一連の作業が可能です。
                        <br />
                        <a href="https://www.front-dispatch.website/blog/git" target=”_blank”>
                          <p class="c-about-card__link">Git - TIPS</p>
                        </a>

                      </p>
                    </div>
                    <div class="c-about-card">
                      <h4 class="c-about-card__title">WordPress</h4>
                      <p class="c-about-card__desc">
                        問い合わせフォームやカスタムフィールドの設定など基本的な機能の構築が可能です
                        <br />
                        <a href="https://www.front-dispatch.website/blog/custom_post" target=”_blank”>
                          <p class="c-about-card__link">カスタム投稿タイプとカスタム分類について</p>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </section>
              <section class="p-about-skills">
                <div class="p-about-skills__title">
                  <h3 class="p-about-skills__heading">特徴
                    <span class="p-about-skills__sub-heading">feature</span>
                  </h3>
                </div>
                <div class="p-about-skills__block-wrapper b-bottom">
                  <div class="p-about-skills__block">
                    <div class="c-text-card">
                      <h4 class="c-text-card__heading">改善</h4>
                      <p class="c-text-card__desc">
                        出退勤チェックは倉庫事務職でのメイン業務の一つでした。
                        <br />
                        1日2000人が打刻した出退勤データを出勤シフト毎にフィルターにかけ、
                        <br />
                        遅刻や予定外の残業の有無をチェックしていました。
                        <br />
                        同じ作業を部署別シフト別で何度も行うため、チェックミスが多発しました。
                        <br />
                        そうした状況を改善すべく、部署別シフト別にしていたシートを一つにまとめ、
                        <br />
                        遅刻の有無等を判定させるマクロを書きました。
                        <br />
                        結果、1日1時間かかっていた作業が10分に短縮されチェックミスは皆無になりました。
                      </p>
                    </div>
                  </div>
                  <div class="p-about-skills__block">
                    <div class="c-text-card">
                      <h4 class="c-text-card__heading">継続</h4>
                      <p class="c-text-card__desc">
                        コーダーを目指して本格的に学習し始めて半年以上が経ちました。
                        <br />
                        2022年8月中旬から現在にかけてほぼ毎日何かしらのコミットをしています。
                        <br />
                        フロントエンドに関する学習は楽しめており、特にWebGLのようなインタラクティブな実装についての学習はほぼ趣味として行っています。
                        <br />
                        今後も業務外での学習を継続し、早急にキャッチアップができると確信しています。
                      </p>
                    </div>
                  </div>
                </div>
              </section>
              <!-- l-contents -->
              <%- include('../common/_contents', {pageId:pageId }) %>
                <!-- l-contents -->
            </div>
          </article>
        </div>
      </main>

      <!-- /main -->
      <%- include('../common/_footer', {pageId:pageId }) %>
      <%- include('../common/_script', {pageId:pageId }) %>
  </body>

</html>
