<% let pageId = 'profile'; %> <% let path = jsonData.pages[pageId].path %> <%
let cording = jsonData.container.cording; %> <% let info =
jsonData.info.works01; %>

<!DOCTYPE html>
<html lang="ja">
  <%- include('../common/_head', {pageId:pageId }) %>
  <body class="home" id="body">
    <%- include('../common/_header', {pageId:pageId }) %>
    <!-- main -->
    <article>
      <div class="l-info">
        <div class="c-title">
          <h2>
            <div class="c-title__heading">髙橋孝幸</div>
          </h2>
          <div class="c-title__desc-wrapper">
            <p class="c-title__desc">神奈川県平塚市在住</p>
            <p class="c-title__desc">1986年生まれ</p>
          </div>
        </div>
        <div class="l-info__split-line"></div>

        <dl class="c-desc">
          <div class="c-desc__list">
            <dt class="c-desc__term">略歴</dt>
            <dd class="c-desc__desc">早稲田大学政治経済学部経済学科卒業</dd>
            <dd class="c-desc__desc">
              <dd class="c-desc__desc">
                倉庫事務職の業務で必要性を感じマクロを独学で習得する
              </dd>
              <dd class="c-desc__desc">
                当初はバックエンドエンジニアを志すが、画面を作ることに喜びを覚えフロントエンドの道を目指し始めた
              </dd>
            </dd>
            <dd class="c-desc__desc">Jamstackとwebglに強い関心がある</dd>
          </div>
          <div class="c-desc__list">
            <dt class="c-desc__term">趣味</dt>
            <dd class="c-desc__desc">映画 , ゲーム , ラジオ</dd>
          </div>
        </dl>
        <figure class="l-info__image">
          <img
            src="<%= path %>assets/images/profile/author002.png"
            alt="作者近影"
          />
        </figure>
      </div>

      <div class="l-scroll__area js-area">
        <div class="l-scroll__wrap js-wrap">
          <div class="l-scroll__item first js-item">
            <div class="c-profile-block">
              <div class="c-profile-block__heading">■ 技術</div>
              <div class="c-profile-block__desc">
                <p>【環境構築】</p>
                <p>gulp+webpack+ejs+flocss</p>
                <p>【CMS】</p>
                <p>local+gulp環境でのwordpress構築</p>
                <p>【Git】</p>
                <p>gitflowに則った開発</p>
              </div>
              <ul class="c-profile-block__list">
                <li class="c-profile-block__card">
                  <a href="">
                    <img
                      class="c-profile-block__image"
                      src="<%= path %>assets/images/top/screencapture01.png"
                      alt="work.01"
                    />
                    <div class="c-profile-block__card-desc">技術ブログ</div>
                  </a>
                </li>
                <li class="c-profile-block__card">
                  <a href="">
                    <img
                      class="c-profile-block__image"
                      src="<%= path %>assets/images/top/screencapture01.png"
                      alt="work.01"
                    />
                    <div class="c-profile-block__card-desc">技術ブログ</div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="c-profile-block">
              <div class="c-profile-block__heading">■ 展望</div>
              <div class="c-profile-block__desc">
                <p>【1年目】</p>
                <p>デザインを忠実に実装する精度と速度を高める</p>
                <p>【2年目】</p>
                <p>Jamstackを用いたヘッドレスCMSの構築</p>
                <p>【3年目】</p>
                <p>webglを用いたリッチな表現方法の習得</p>
              </div>
              <ul class="c-profile-block__list">
                <li class="c-profile-block__card">
                  <a href="">
                    <img
                      class="c-profile-block__image"
                      src="<%= path %>assets/images/top/screencapture01.png"
                      alt="work.01"
                    />
                    <div class="c-profile-block__card-desc">技術ブログ</div>
                  </a>
                </li>
                <li class="c-profile-block__card">
                  <a href="">
                    <img
                      class="c-profile-block__image"
                      src="<%= path %>assets/images/top/screencapture01.png"
                      alt="work.01"
                    />
                    <div class="c-profile-block__card-desc">技術ブログ</div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="l-scroll__item center js-item">
            <div class="c-timeline">
              <div class="c-timeline__heading">■ 経歴</div>
              <ul class="c-timeline__list">
                <li class="c-timeline__item">
                  <div class="c-timeline__date">2011年３月</div>
                  <div class="c-timeline__desc">
                    <p>早稲田大学政治経済学部卒業</p>
                    <p>リーマンショック後の買い手市場で新卒就活に失敗</p>
                    <p>その後数年間ニートに</p>
                  </div>
                </li>
                <li class="c-timeline__item">
                  <div class="c-timeline__date">2016年３月</div>
                  <div class="c-timeline__desc">
                    <p>倉庫事務職へ</p>
                    <p>独学でマクロを習得</p>
                    <p>エンジニアを目指すようになる</p>
                  </div>
                </li>
                <li class="c-timeline__item">
                  <div class="c-timeline__date">2019年３月</div>
                  <div class="c-timeline__desc">
                    <p>エンジニアを目指す</p>
                    <p>スクールに通う</p>
                    <p>一度は就職するが休養</p>
                  </div>
                </li>
                <li class="c-timeline__item">
                  <div class="c-timeline__date">2022年10月</div>
                  <div class="c-timeline__desc">
                    <p>コーダーを目指して学習開始</p>
                    <p>コーダーを目指して学習開始</p>
                    <p>コーダーを目指して学習開始</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="l-scroll__item last js-item">
            <div class="l-contents">
              <div class="l-contents__heading" id="heading-01">■ 制作物</div>
              <ul class="l-contents__list" id="list-01">
                <li class="l-contents__card">
                  <a href="">
                    <img
                      class="l-contents__image"
                      src="<%= path %>assets/images/top/screencapture01.png"
                      alt="work.01"
                    />
                    <div class="l-contents__desc">架空建設会社サイト</div>
                  </a>
                </li>
                <li class="l-contents__card">
                  <a href="">
                    <img
                      class="l-contents__image"
                      src="<%= path %>assets/images/top/screencapture01.png"
                      alt="work.01"
                    />
                    <div class="l-contents__desc">技術ブログ</div>
                  </a>
                </li>
                <li class="l-contents__card">
                  <a href="">
                    <img
                      class="l-contents__image"
                      src="<%= path %>assets/images/top/screencapture01.png"
                      alt="work.01"
                    />
                    <div class="l-contents__desc">ポートフォリオ</div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </article>

    <!-- /main -->

    <%- include('../common/_footer', {pageId:pageId }) %> <%-
    include('../common/_script', {pageId:pageId }) %> <%-
    include('../common/script/_script-works.ejs', {pageId:pageId }) %>
  </body>
</html>
