<% let path = jsonData.pages[pageId].path %>
<!-- header -->
<header class="l-header">
  <div class="l-header__inner">
    <figure class="l-header__logo">
      <a href="/">
        <img
          src="<%= path %>assets/images/common/logo_0218.svg"
          alt="サイトロゴ"
        />
      </a>
    </figure>
    <div class="l-header__text-area">
      <!-- c-text-loop -->
      <div class="c-text-loop">
        <div class="c-text-loop__textWrap">
          <div class="c-text-loop__text">
            <a href="/works/works01/index.html">
              <span> ■ Dummy Construction company </span>
            </a>
            <a href="/works/works02/index.html">
              <span> ■ Tech Blog </span>
            </a>
            <a href="/works/works03/index.html">
              <span> ■ Portfolio </span>
            </a>
            <a href="/profile/index.html">
              <span> ■ Profile</span>
            </a>
          </div>
        </div>
      </div>
      <!-- c-text-loop -->
    </div>
    <button class="l-header__contents" id="navbtn">all contents</button>
  </div>
  <nav class="l-nav">
    <div class="l-nav__title">
      <img
        src="<%= path %>assets/images/common/logo002.svg"
        alt="タカハシタカユキのポートフォリオ"
      />
    </div>
    <div class="l-nav__contents">
      <div class="l-nav__heading">制作物</div>
      <ul class="l-nav__list">
        <li class="l-nav__item">
          <a href="">
            <img
              class="l-nav__image"
              src="<%= path %>assets/images/top/screencapture01.png"
              alt="work.01"
            />
            <div class="l-nav__desc">架空建設会社サイト</div>
          </a>
        </li>
        <li class="l-nav__item">
          <a href="">
            <img
              class="l-nav__image"
              src="<%= path %>assets/images/top/screencapture01.png"
              alt="work.01"
            />
            <div class="l-nav__desc">技術ブログ</div>
          </a>
        </li>
        <li class="l-nav__item">
          <a href="">
            <img
              class="l-nav__image"
              src="<%= path %>assets/images/top/screencapture01.png"
              alt="work.01"
            />
            <div class="l-nav__desc">ポートフォリオ</div>
          </a>
        </li>
      </ul>
      <div class="l-nav__heading">プロフィール　・　ブログ</div>
      <ul class="l-nav__list">
        <li class="l-nav__item">
          <a href="">
            <img
              class="l-nav__image"
              src="<%= path %>assets/images/top/screencapture01.png"
              alt="work.01"
            />
            <div class="l-nav__desc">プロフィール</div>
          </a>
        </li>
        <li class="l-nav__item">
          <a href="">
            <img
              class="l-nav__image"
              src="<%= path %>assets/images/top/screencapture01.png"
              alt="work.01"
            />
            <div class="l-nav__desc">CSS設計について</div>
          </a>
        </li>
        <li class="l-nav__item">
          <a href="">
            <img
              class="l-nav__image"
              src="<%= path %>assets/images/top/screencapture01.png"
              alt="work.01"
            />
            <div class="l-nav__desc">環境構築について</div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- /header -->
