<% let pageId = 'home'; %> <% let path = jsonData.pages[pageId].path %>
<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head', {pageId:pageId }) %>
  <body class="home">
    <div id="top" class="wrap" ontouchstart="">
      <%- include('./common/_header', {pageId:pageId }) %>
      <!-- main -->
      <main class="p-home">
        <nav class="p-home-nav">
          <h1 class="p-home-nav__title">
            <img
              src="<%= path %>assets/images/common/title.svg"
              alt="タカハシタカユキのポートフォリオ"
            />
          </h1>
          <ul class="p-home-nav__menu">
            <li class="p-home-nav__item">
              <a href="/works/works01/index.html">
                <div class="p-home-nav__menu-heading">01</div>
                <div class="p-home-nav__menu-heading">架空建設会社サイト</div>
              </a>
            </li>
            <li class="p-home-nav__item">
              <a href="">
                <div class="p-home-nav__menu-heading">02</div>
                <div class="p-home-nav__menu-heading">技術ブログ</div>
              </a>
            </li>
            <li class="p-home-nav__item">
              <a href="">
                <div class="p-home-nav__menu-heading">03</div>
                <div class="p-home-nav__menu-heading">ポートフォリオ</div>
              </a>
            </li>
            <li class="p-home-nav__item">
              <a href="">
                <div class="p-home-nav__menu-heading">04</div>
                <div class="p-home-nav__menu-heading">プロフィール</div>
              </a>
            </li>
          </ul>
        </nav>
        <!-- <div class="p-home__menu-area"></div> -->
        <div class="p-home__main-panel">
          <div class="p-home__main-grid">
            <div class="p-home__card" id="works-01">
              <a href="">
                <figure>
                  <picture>
                    <!-- <source srcset="<?php echo get_template_directory_uri(); ?>/assets/images/service/hero_service.webp"
                      media="(min-width: 769px)" type="image/webp" /> -->
                    <!-- <source srcset="<?php echo get_template_directory_uri(); ?>/assets/images/service/hero_service.jpg"
                      media="(min-width: 769px)" type="image/jpg" /> -->
                    <!-- <source
                      srcset="<?php echo get_template_directory_uri(); ?>/assets/images/service/hero_service_sp.webp"
                      type="image/webp" /> -->
                    <img
                      src="<%= path %>assets/images/top/screencapture01.png"
                      alt="架空建設会社サイトのイメージ"
                    />
                  </picture>
                </figure>
                <div class="p-home__alt-text">
                  <div class="p-home__alt-text-heading">01</div>
                  <div class="p-home__alt-text-heading">架空建設会社サイト</div>
                  <div class="p-home__alt-text-heading">
                    Wordpress ejs webpack
                  </div>
                </div>
              </a>
            </div>
            <div class="p-home__card" id="works-02">
              <a href="">
                <figure>
                  <picture>
                    <!-- <source srcset="<?php echo get_template_directory_uri(); ?>/assets/images/service/hero_service.webp"
                      media="(min-width: 769px)" type="image/webp" /> -->
                    <!-- <source srcset="<?php echo get_template_directory_uri(); ?>/assets/images/service/hero_service.jpg"
                      media="(min-width: 769px)" type="image/jpg" /> -->
                    <!-- <source
                      srcset="<?php echo get_template_directory_uri(); ?>/assets/images/service/hero_service_sp.webp"
                      type="image/webp" /> -->
                    <img
                      src="<%= path %>assets/images/top/screencapture02.png"
                      alt="技術ブログのイメージ"
                    />
                  </picture>
                </figure>
                <div class="p-home__alt-text">
                  <div class="p-home__alt-text-heading">02</div>
                  <div class="p-home__alt-text-heading">技術ブログ</div>
                  <div class="p-home__alt-text-heading">next.js tailwind</div>
                </div>
              </a>
            </div>
            <div class="p-home__card" id="works-03">
              <a href="">
                <figure>
                  <picture>
                    <!-- <source srcset="<?php echo get_template_directory_uri(); ?>/assets/images/service/hero_service.webp"
                      media="(min-width: 769px)" type="image/webp" /> -->
                    <!-- <source srcset="<?php echo get_template_directory_uri(); ?>/assets/images/service/hero_service.jpg"
                      media="(min-width: 769px)" type="image/jpg" /> -->
                    <!-- <source
                      srcset="<?php echo get_template_directory_uri(); ?>/assets/images/service/hero_service_sp.webp"
                      type="image/webp" /> -->
                    <img
                      src="<%= path %>assets/images/top/screencapture03.png"
                      alt="ポートフォリオのイメージ"
                    />
                  </picture>
                </figure>
                <div class="p-home__alt-text">
                  <div class="p-home__alt-text-heading">03</div>
                  <div class="p-home__alt-text-heading">ポートフォリオ</div>
                  <div class="p-home__alt-text-heading">
                    ejs webpack barba.js
                  </div>
                </div>
              </a>
            </div>
            <div class="p-home__card" id="works-04">
              <a href="">
                <figure>
                  <picture>
                    <!-- <source srcset="<?php echo get_template_directory_uri(); ?>/assets/images/service/hero_service.webp"
                      media="(min-width: 769px)" type="image/webp" /> -->
                    <!-- <source srcset="<?php echo get_template_directory_uri(); ?>/assets/images/service/hero_service.jpg"
                      media="(min-width: 769px)" type="image/jpg" /> -->
                    <!-- <source
                      srcset="<?php echo get_template_directory_uri(); ?>/assets/images/service/hero_service_sp.webp"
                      type="image/webp" /> -->
                    <img
                      src="<%= path %>assets/images/top/screencapture04.png"
                      alt="プロフィールページのイメージ"
                    />
                  </picture>
                </figure>
                <div class="p-home__alt-text">
                  <div class="p-home__alt-text-heading">04</div>
                  <div class="p-home__alt-text-heading">プロフィール</div>
                  <div class="p-home__alt-text-heading"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </main>
      <!-- /main -->
      <%- include('./common/_footer', {pageId:pageId }) %>
    </div>
  </body>
</html>
