<% let pageId = 'home'; %>
<% let path = jsonData.pages[pageId].path %>
<% let cording = jsonData.container.cording; %>
<% let info = jsonData.info.works01; %>
<% let info02 = jsonData.info.works02; %>
<% let info03 = jsonData.info.works03; %>
<% let info04 = jsonData.info.works04; %>
<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head', {pageId:pageId }) %>
  <body class="home" id="body">
    <div id="top" class="wrap" ontouchstart="">
      <%- include('./common/_header', {pageId:pageId }) %>
      <!-- main -->
      <main data-barba="wrapper">
        <div class="l-main container" data-barba="container" data-barba-namespace="home">
          <!-- 画面遷移 -->
          <div class="mask" id="mask"></div>
          <!-- 画面遷移 -->
          <section class="p-home-mv">
            <h2 class="l-main__title">
              <img src="<%= path %>assets/images/common/title0225.svg" alt="タカハシタカユキのポートフォリオ" />
            </h2>
            <div class="l-main__loop">
              <div class="loop">
                <a href="/<%= jsonData.pages.works01.slug %>">
                  <div class="loop__box right">
                    <img srcset="<%= path %>assets/images/home/loop_company.webp" alt="架空建設会社サイトへのリンク" />
                    <img srcset="<%= path %>assets/images/home/loop_company.webp" alt="架空建設会社サイトページへのリンク" />
                  </div>
                </a>
              </div>
              <div class="loop">
                <a href="/<%= jsonData.pages.works02.slug %>">
                  <div class="loop__box fast">
                    <img srcset="<%= path %>assets/images/home/loop_blog.webp" alt="技術ブログページへのリンク" />
                    <img srcset="<%= path %>assets/images/home/loop_blog.webp" alt="技術ブログページへのリンク" />
                  </div>
                </a>
              </div>
              <div class="loop">
                <a href="/<%= jsonData.pages.works03.slug %>">
                  <div class="loop__box right fast">
                    <img srcset="<%= path %>assets/images/home/loop_portfolio.webp" alt="ポートフォリオページへのリンク" />
                    <img srcset="<%= path %>assets/images/home/loop_portfolio.webp" alt="ポートフォリオページへのリンク" />
                  </div>
                </a>
              </div>
              <div class="loop">
                <a href="/<%= jsonData.pages.about.slug %>">
                  <div class="loop__box">
                    <img srcset="<%= path %>assets/images/home/loop_about.webp" alt="aboutページへのリンク" />
                    <img srcset="<%= path %>assets/images/home/loop_about.webp" alt="aboutページへのリンク" />
                  </div>
                </a>
              </div>
              <div class="loop">
                <a href="/<%= jsonData.pages.works01.slug %>">
                  <div class="loop__box right">
                    <img srcset="<%= path %>assets/images/home/loop_company.webp" alt="架空建設会社サイトへのリンク" />
                    <img srcset="<%= path %>assets/images/home/loop_company.webp" alt="架空建設会社サイトページへのリンク" />
                  </div>
                </a>
              </div>
              <div class="loop">
                <a href="/<%= jsonData.pages.works02.slug %>">
                  <div class="loop__box fast">
                    <img srcset="<%= path %>assets/images/home/loop_blog.webp" alt="技術ブログページへのリンク" />
                    <img srcset="<%= path %>assets/images/home/loop_blog.webp" alt="技術ブログページへのリンク" />
                  </div>
                </a>
              </div>
              <div class="loop">
                <a href="/<%= jsonData.pages.works03.slug %>">
                  <div class="loop__box right fast">
                    <img srcset="<%= path %>assets/images/home/loop_portfolio.webp" alt="ポートフォリオページへのリンク" />
                    <img srcset="<%= path %>assets/images/home/loop_portfolio.webp" alt="ポートフォリオページへのリンク" />
                  </div>
                </a>
              </div>
              <div class="loop">
                <a href="/<%= jsonData.pages.about.slug %>">
                  <div class="loop__box">
                    <img srcset="<%= path %>assets/images/home/loop_about.webp" alt="aboutページへのリンク" />
                    <img srcset="<%= path %>assets/images/home/loop_about.webp" alt="aboutページへのリンク" />
                  </div>
                </a>
              </div>
            </div>
          </section>
          <section class="p-home-highlights">
            <div class="p-home-highlights__info">
              <div class="c-title">
                <a href="/<%= jsonData.pages.works01.slug %>">
                  <h2>
                    <div class="c-title__heading">
                      <%= info.basic.title %>
                    </div>
                  </h2>
                </a>
              </div>
              <dl class="c-desc">
                <div class="c-desc__list">
                  <dt class="c-desc__term">
                    <%= info.term.position %>
                  </dt>
                  <dd class="c-desc__desc">
                    <%= info.desc.position %>
                  </dd>
                </div>
                <div class="c-desc__list">
                  <dt class="c-desc__term">
                    <%= info.term.date %>
                  </dt>
                  <dd class="c-desc__desc">
                    <%= info.desc.date %>
                  </dd>
                </div>
                <div class="c-desc__list">
                  <dt class="c-desc__term">
                    <%= info.term.tech %>
                  </dt>
                  <dd class="c-desc__desc">
                    <%= info.desc.tech %>
                  </dd>
                </div>
                <div class="c-desc__list">
                  <dt class="c-desc__term">
                    <%= info.term.work %>
                  </dt>
                  <dd class="c-desc__desc">
                    <%= info.desc.work %>
                  </dd>
                </div>
                <div class="p-home-highlights__link">
                  <a href="/<%= jsonData.pages.works01.slug %>">
                    <span>詳細を見る</span>
                  </a>
                </div>
              </dl>
            </div>
            <p class="p-home-highlights__mv">
              <a href="/<%= jsonData.pages.works01.slug %>">
                <img src="<%= path %>assets/images/top/works01_01.webp" width="240" height="130" loading="lazy" alt="" />
              </a>
            </p>
          </section>
          <section class="p-home-highlights">
            <div class="p-home-highlights__info">
              <div class="c-title">
                <a href="/<%= jsonData.pages.works02.slug %>">
                  <h2>
                    <div class="c-title__heading">
                      <%= info02.basic.title %>
                    </div>
                  </h2>
                </a>
              </div>
              <dl class="c-desc">
                <div class="c-desc__list">
                  <dt class="c-desc__term">
                    <%= info02.term.position %>
                  </dt>
                  <dd class="c-desc__desc">
                    <%= info02.desc.position %>
                  </dd>
                </div>
                <div class="c-desc__list">
                  <dt class="c-desc__term">
                    <%= info02.term.date %>
                  </dt>
                  <dd class="c-desc__desc">
                    <%= info02.desc.date %>
                  </dd>
                </div>
                <div class="c-desc__list">
                  <dt class="c-desc__term">
                    <%= info02.term.tech %>
                  </dt>
                  <dd class="c-desc__desc">
                    <%= info02.desc.tech %>
                  </dd>
                </div>
                <div class="c-desc__list">
                  <dt class="c-desc__term">
                    <%= info02.term.work %>
                  </dt>
                  <dd class="c-desc__desc">
                    <%= info02.desc.work %>
                  </dd>
                </div>
                <div class="p-home-highlights__link">
                  <a href="/<%= jsonData.pages.works02.slug %>">
                    <span>詳細を見る</span></a>
                </div>
              </dl>

            </div>
            <p class="p-home-highlights__mv">
              <a href="/<%= jsonData.pages.works02.slug %>">
                <img src="<%= path %>assets/images/top/works02_03.webp" width="240" height="130" loading="lazy" alt="" />
              </a>
            </p>
          </section>
          <section class="p-home-highlights">
            <div class="p-home-highlights__info">
              <div class="c-title">
                <a href="/<%= jsonData.pages.works03.slug %>">
                  <h2>
                    <div class="c-title__heading">
                      <%= info03.basic.title %>
                    </div>
                  </h2>
                </a>
              </div>
              <dl class="c-desc">
                <div class="c-desc__list">
                  <dt class="c-desc__term">
                    <%= info03.term.position %>
                  </dt>
                  <dd class="c-desc__desc">
                    <%= info03.desc.position %>
                  </dd>
                </div>
                <div class="c-desc__list">
                  <dt class="c-desc__term">
                    <%= info03.term.date %>
                  </dt>
                  <dd class="c-desc__desc">
                    <%= info03.desc.date %>
                  </dd>
                </div>
                <div class="c-desc__list">
                  <dt class="c-desc__term">
                    <%= info03.term.tech %>
                  </dt>
                  <dd class="c-desc__desc">
                    <%= info03.desc.tech %>
                  </dd>
                </div>
                <div class="c-desc__list">
                  <dt class="c-desc__term">
                    <%= info03.term.work %>
                  </dt>
                  <dd class="c-desc__desc">
                    <%= info03.desc.work %>
                  </dd>
                </div>
                <div class="p-home-highlights__link">
                  <a href="/<%= jsonData.pages.works03.slug %>">
                    <span>詳細を見る</span></a>
                </div>
              </dl>
            </div>
            <p class="p-home-highlights__mv">
              <a href="/<%= jsonData.pages.works03.slug %>">
                <img src="<%= path %>assets/images/top/works03_02.webp" width="240" height="130" loading="lazy" alt="" />
              </a>
            </p>
          </section>
          <section class="p-home-highlights">
            <div class="p-home-highlights__info">
              <div class="c-title">
                <a href="/<%= jsonData.pages.works04.slug %>">
                  <h2>
                    <div class="c-title__heading">
                      <%= info04.basic.title %>
                    </div>
                  </h2>
                </a>
              </div>
              <dl class="c-desc">
                <div class="c-desc__list">
                  <dt class="c-desc__term">
                    <%= info04.term.position %>
                  </dt>
                  <dd class="c-desc__desc">
                    <%= info04.desc.position %>
                  </dd>
                </div>
                <div class="c-desc__list">
                  <dt class="c-desc__term">
                    <%= info04.term.date %>
                  </dt>
                  <dd class="c-desc__desc">
                    <%= info04.desc.date %>
                  </dd>
                </div>
                <div class="c-desc__list">
                  <dt class="c-desc__term">
                    <%= info04.term.tech %>
                  </dt>
                  <dd class="c-desc__desc">
                    <%= info04.desc.tech %>
                  </dd>
                </div>
                <div class="c-desc__list">
                  <dt class="c-desc__term">
                    <%= info04.term.work %>
                  </dt>
                  <dd class="c-desc__desc">
                    <%= info04.desc.work %>
                  </dd>
                </div>
                <div class="p-home-highlights__link">
                  <a href="/<%= jsonData.pages.works04.slug %>">
                    <span>詳細を見る</span></a>
                </div>
              </dl>
            </div>
            <p class="p-home-highlights__mv">
              <a href="/<%= jsonData.pages.works03.slug %>">
                <!-- <img src="<%= path %>assets/images/top/works03_02.webp" width="240" height="130" loading="lazy" alt="" /> -->
              </a>
            </p>
          </section>
          <section class="p-home-highlights --about">
            <div class="p-home-highlights__info">
              <div class="c-title">
                <a href="/<%= jsonData.pages.about.slug %>">
                  <h2>
                    <div class="c-title__heading">ABOUT</div>
                  </h2>
                </a>
                <div class="c-title__desc-wrapper">
                  <p class="c-title__desc">髙橋孝幸</p>
                  <p class="c-title__desc">神奈川県平塚市在住</p>
                  <p class="c-title__desc">1986年生まれ</p>
                  <p class="c-title__desc">早稲田大学政治経済学部経済学科卒業</p>
                </div>
                <div class="c-title__desc-wrapper">
                  <div class="p-home-highlights__link">
                    <a href="/<%= jsonData.pages.about.slug %>">
                      <span>詳細を見る</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-about-skills">
              <div class="p-about-skills__title">
                <h3 class="p-about-skills__heading">技術
                  <span class="p-about-skills__sub-heading">skills</span>
                </h3>
              </div>
              <div class="p-about-skills__block-wrapper">
                <div class="p-about-skills__block">
                  <div class="c-about-card">
                    <h4 class="c-about-card__title">HTML</h4>
                    <p class="c-about-card__desc">基礎的なレベルでのセマンティックなマークアップが可能です。
                      <br />
                      アクセシビリティについて学習中です。
                    </p>
                    <a href="https://www.front-dispatch.website/blog/a11y" target=”_blank”>
                      <p class="c-about-card__link">Webアクセシビリティの基礎的な知識</p>
                    </a>
                  </div>
                  <div class="c-about-card">
                    <h4 class="c-about-card__title">CSS</h4>
                    <p class="c-about-card__desc">FLOCSSを使用し保守性拡張性を担保できます。
                      <br />
                      tailwindを学習中です。
                    </p>
                  </div>
                  <div class="c-about-card">
                    <h4 class="c-about-card__title">JavaScript</h4>
                    <p class="c-about-card__desc">
                      gsapやbarba.js等のライブラリを基礎的なレベルで使用することができます
                      <br />
                      JamstackやWebGLの学習を進めています。
                    </p>
                    <a href="https://www.front-dispatch.website/blog/barbajs" target=”_blank”>
                      <p class="c-about-card__link">barba.jsの実装方法</p>
                    </a>
                  </div>
                </div>
                <div class="p-about-skills__block">
                  <div class="c-about-card">
                    <h4 class="c-about-card__title">環境構築</h4>
                    <p class="c-about-card__desc">
                      gulp+EJS+webpack環境を構築できます。
                      <br />
                      Astroでの環境構築を学習中です。
                    </p>
                    <a href="https://www.front-dispatch.website/blog/astro" target=”_blank”>
                      <p class="c-about-card__link">Astroでマイクロブログを作成してみた</p>
                    </a>
                  </div>
                  <div class="c-about-card">
                    <h4 class="c-about-card__title">Git</h4>
                    <p class="c-about-card__desc">
                      ブランチを切り、適切な粒度でコミットし、PRを出す一連の作業が可能です。
                      <br />
                      問題が起きた時の対応について学習中です。
                    </p>
                  </div>
                  <div class="c-about-card">
                    <h4 class="c-about-card__title">WordPress</h4>
                    <p class="c-about-card__desc">
                      問い合わせフォームやカスタムフィールドの設定など基本的な機能の構築が可能です
                      <br />
                      セキュリティを考慮した実装やブロックテーマの作成について学習中です。
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
      <!-- /main -->
      <%- include('./common/_footer', {pageId:pageId }) %>
      <%- include('./common/_script', {pageId:pageId }) %>
    </div>
  </body>
</html>
